* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  --theme-color: greenyellow;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 1.6rem;
  /* overflow: hidden; */
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  margin: auto;
}

.form-side {
  display: flex;
  flex-direction: column;
  flex: 4 0 0;
  background-color: hsl(0, 0%, 96%);
}

.disclaimer {
  font-size: 2rem;
  margin: 15rem 0 3rem 5rem;
  width: 70%;
}

.form-container {
  padding: 3rem 0 3rem 5rem;
  background-color: hsl(0, 0%, 100%);
}

.form-title {
  font-family: "Times New Roman", Times, serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.reg-form {
  display: flex;
  flex-direction: column;
}

.reg-form > div {
  display: flex;
  justify-content: start;
  gap: min(3rem, 1vw);
}

.reg-form > div:not(:last-child) {
  margin-bottom: min(2rem, 3vh);
}

.reg-form > div > div {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: min(1rem, 1vh);
}

input {
  padding: 1rem;
  width: 80%;
  font-size: 1.6rem;
}

.form-footer {
  padding: 3rem 0 0 5rem;
}

button {
  padding: 1rem;
  width: 30rem;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.image-side {
  background: url("./images/background-image.jpg") center / cover;
  height: auto;
  flex: 2 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25rem;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.2);
}

.logo > p {
  margin-left: 2rem;
  color: rgb(4, 123, 36);
  font-size: 3rem;
  font-family: "Millenia", "Verdana", sans-serif;
}

.image-side > :last-child {
  text-align: center;
  margin-bottom: 2rem;
}

img {
  width: 150px;
}

input:valid {
  background-color: greenyellow;
}

input:invalid {
  background-color: red;
}
